################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoListBlazorWasm/bin/Debug/net7.0
/TodoListBlazorWasm/obj
/TodoList.Models/bin/Debug/net7.0
/TodoList.Models/obj
/TodoList.Api/bin
/TodoList.Api/obj
/.vs
/.vs/TodoList.Api/v17/.suo
